.hero.is-link{
    background: linear-gradient(#FFCFFF, #80CDE1);
}

.hero.is-dark{
    background: linear-gradient(#80CDE1, #FFCFFF);
}

.navbar-start {
	color: #2F4F4F;
}

.hero.is-link a.navbar-item:hover{
	background-color: unset;
}

.button.hero-button.left {
    margin-left: auto;
    margin-right: 10px;
    width: 20%;
    background-color: #FFCFFF;
    color: #2F4F4F;
    font-weight: bold;
}

.button.hero-button.right {
    background-color: #FFCFFF;
    color: #2F4F4F;
    margin-left: 10px;
    width: 20%;
    margin-right: auto;
    font-weight: bold;
}

@media only screen and (max-width: 1023px) {
		
.second{
    display: grid;
    padding-top: 6rem;
	}
	
#logo-discord{
	width: 15%; 
	padding-right:10px;
	}

#logo-bet-games{
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 10px; 
	width: 50%;
}
	
.button.hero-button.left {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5%;
	}
	
.button.hero-button.right {
    margin-left: auto;
    margin-right: auto;
	width: 50%;
	}

}


@media only screen and (max-width: 466px) {
	
#logo-discord{
	width: 20%; 
	padding-right:10px;
	}

	
.button.hero-button.left {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 5%;
	}
	
.button.hero-button.right {
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	}
}

.hero-body-two{
    flex-grow: 1; 
    flex-shrink: 0;
    padding: 0rem 1.5rem;
    display: block;
    align-content: center
}
.first{
    text-align: center;
    padding-top: 6rem;
}

@media screen and (max-width: 1023px) {
.container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
    margin-right: -.75rem;
	}
}
@media screen and (max-width: 1023px) {
.navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: none;
	}
}
@media screen and (max-width: 1023px) {
.navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: center;
    display: flex;
	}
}

@media screen and (max-width: 1023px){
.hero.is-link .navbar-menu {
    background: none;
	}
}

@media only screen and (min-width: 1024px){
	
.second{
    display: flex;
    padding-top: 6rem;
	}

#logo-discord{
	width: 20%; 
	padding-right:10px;
	}

#logo-bet-games{
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 10px; 
	width: 20%;
	}
}

.footer{
    padding: 3rem 1.5rem 3rem;
}
