@font-face {
  font-family: "Berlin Sans FB Regular";
  src: url("/polices/BerlinSansFBRegular.ttf");
}

@media only screen and (min-width: 1024px){
	
#ampoule{
	width: 10%;
	}

#bank{
	width: 10%;
	}

.article-hero-body-two{
	display: flex;
	width: 80%;
	}

.button.hero-button.left {
    width: 60%;
	}

.div-in-article {
    padding: 0.5rem 1rem;
	}
	
.img-article {
	width: 100%;
	}

.notification.is-primary{
	width: 50%;
	}

.paragraph-article-body{
	font-size: 18px;
	}

.warning {
	width: 25%;
	}
}

@media only screen and (max-width: 1023px) {
	
#ampoule{
	width: 20%;
	}

#bank{
	width: 20%;
	}

.message.is-info .message-body {
    font-size: 20px;
    text-align: justify;
	}

.message.is-info .message-header {
    font-size: 20px;
	}
	
.article-hero-body-two{
	display: block;
    width: 80%;
	}

.div-in-article {
    padding: 1.5rem 1rem;
	}

.img-article {
	width: 70%;
	}

.warning{
	width: 70%
}

#commandes{
	font-size: 25px;
}
	
.paragraph-article-body {
    font-size: 25px;
    }
    
.notification.is-primary {
    width: 85%;
    }

.table td, .table th {
    font-size: 20px;
    }
}

@media only screen and (max-width: 466px) {
	
#ampoule{
	width: 40%;
	}

#bank{
	width: 40%;
	}

.message.is-info .message-body {
    font-size: 20px;
    text-align: left;
	}
	
.img-article {
	width: 100%;
	}

.paragraph-article-body {
    font-size: 20px;
    text-align: left;
    }
    
.article-hero-body-two{
    width: 100%;
	}

.notification.is-primary {
    width: 100%;
	}
	
.table td, .table th {
    font-size: 15px;
	}
}

#active-item{
	color: #80CDE1;
}

.message.is-info .message-header {
    background-color: #80CDE1;
    color: #2F4F4F;
}

.hero.is-fullheight-with-navbar .hero-body{
	display: block;
}

.message.is-info .message-body {
    border-color: #80CDE1;
    color: #2F4F4F;
    background-color: #FFE5FF;
}

.message{
	margin-left: 5%;
	margin-right: 5%;
}

.message-div{
	padding: 0.5rem 0rem;
	font-family: "Berlin Sans FB Regular";
}

.center-img{
	display: block;
	text-align: center;
}

.h1-title{
	text-align: center;
	margin-bottom: 5%;
	color: #2F4F4F;
	font-size: 30px;
	font-family: "Berlin Sans FB Regular";
	font-weight: bold;
}

.img-article{
    box-shadow: 2px 2px #2f4f4f;
    border-radius: 10px;
}

	
.div-in-article {
	width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.div-in-article.border {
	border: dashed #2F4F4F;
}

.paragraph-article-body {
    color: #2F4F4F;
	font-family: "Berlin Sans FB Regular";
}


#commandes{
	margin-bottom: 0;
}

.container-div {
	display: flex;
	align-content: center;
}

.div-in-notif-start {
	text-align: left;
}

.div-in-notif-center {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.div-in-notif-end {
	text-align: right;
}

.notification.is-primary{
	background-color: #80CDE1;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 1px 1px #2f4f4f; 
}

.button.hero-button.left {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.table{
	margin-top: 5%;
	background-color: unset;
	color: #2f4f4f;
}

	
.article-hero-body-two{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.article-hero-body-two.middle {
	margin-bottom: 5%;
}

.paragraph-article-body.cmd{
	font-size: 32px;
	text-align: center;
}

.paragraph-article-body.cmd-explication{
	font-size: 15px;
	text-align: center;
}

#porofessor{
	color: #1E90FF;
}

#bleue {
	color: #6495ED;
}

#rouge {
	color: #DC143C;
}

.fas.fa-fire-alt {
	color: #DC143C;
}

.fas.fa-exclamation-triangle{
	color: #DC143C;
}

.fas.fa-money-bill-wave{
	color: #2E8B57;
}

.paragraph-article-body.paraf-mid {
	text-align: center;
}
