.hero.is-link{
    background: linear-gradient(#FFCFFF, #80CDE1);
}

.hero.is-dark{
    background: linear-gradient(#80CDE1, #FFCFFF);
}

.navbar-start {
	color: #2F4F4F;
}

#active-item:hover {
	color: #80CDE1;
}

.hero.is-link a.navbar-item:hover{
	background-color: unset;
}

.button.hero-button.left {
    margin-left: auto;
    margin-right: 10px;
    width: 20%;
    background-color: #FFCFFF;
    color: #2F4F4F;
    font-weight: bold;
    transition: .4s;
}

.button.hero-button.left:hover {
    background-color: #88CDE3;
    color: #FFFFFF;
}

.button.hero-button.right {
    background-color: #FFCFFF;
    color: #2F4F4F;
    margin-left: 10px;
    width: 20%;
    margin-right: auto;
    font-weight: bold;
    transition: .4s;
}

.button.hero-button.right:hover {
    background-color: #88CDE3;
    color: #FFFFFF;
}

@media only screen and (max-width: 1023px) {
		
.second{
    display: grid;
    padding-top: 6rem;
	}
	
#logo-discord{
	width: 15%; 
	padding-right:10px;
	}

#cle{
	width: 10%; 
	padding-left:10px;
	}
	
#logo-bet-games{
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 100%; 
	width: 50%;
}
	
.button.hero-button.left {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5%;
	}
	
	
.button.hero-button.right {
    margin-left: auto;
    margin-right: auto;
	width: 50%;
	margin-bottom: 5%;
	}
	
.hero.is-link .navbar-menu {
    background: none;
	}
	
.hero-body-two {
	padding: 10rem 1.5rem
	}
	
.navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: center;
    display: flex;
	}
	
.navbar-start{
	margin-left: auto;
	}

.navbar-end{
	margin-right: auto;
}
	
.navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
	}
	
.container>.navbar .navbar-menu, .navbar>.container .navbar-menu {
    margin-right: 0rem;
	}

#byebye {
	display: none;
	}
	
#hi{
	margin-left: auto;
	margin-right: auto;
	}

}


@media only screen and (max-width: 466px) {
	
#logo-discord{
	width: 20%; 
	padding-right:10px;
	}

#cle{
	width: 15%; 
	padding-left:10px;
	}
	
.button.hero-button.left {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 5%;
	}
	
.button.hero-button.right {
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	}
	
.has-text-centered {
    display: block;
	}

.footer-right {
    padding: 2rem;
	}
}

.hero-body-two{
    flex-grow: 1; 
    flex-shrink: 0;
    padding: 0rem 1.5rem;
    display: block;
    align-content: center
}
.first{
    text-align: center;
    padding-top: 6rem;
}

@media only screen and (min-width: 1024px){
	
.second{
    display: flex;
    padding-top: 6rem;
	}

#logo-discord{
	width: 20%; 
	padding-right:10px;
	}
	
#cle{
	width: 20%; 
	padding-left:10px;
	}

#logo-bet-games{
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 100%; 
	width: 25%;
	}
	
#hi{
	display: none;
	}

.has-text-centered {
    display: flex;
	}
}

.footer{
    padding: 3rem 1.5rem 5rem;
}

.footer-mid{
	margin-left: auto;
}

.footer-right{
	margin-right: auto;
    margin-left: auto;
}

.fas.fa-exclamation{
	color: #2F4F4F;
}

#france{
	border: solid 1px;
	width: 20px;
}

#english{
	border: solid 1px;
	width: 20px;
}