<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bet Games</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
        <link rel="shortcut icon" th:href="@{/images/favicon-32x32.png}" />
    </head>
    <body>
        <section class="hero is-link is-fullheight-with-navbar">
        </section> 
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>&copy;2021 Bet-Games</strong> par <i>Thomas SCHMID</i>, <i>Alexis RAFÉ</i>, <i>Ines BEN-SLAMA</i> et <i>Loris MARTINEZ</i>.
                </p>
            </div>
        </footer>
    </body>
</html>