<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bet Games</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/styledoc.css}" type="text/css" />
        <link rel="shortcut icon" th:href="@{/images/favicon-32x32.png}" />
	    <script src="https://kit.fontawesome.com/b98adfbb97.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="hero is-link is-fullheight-with-navbar">
	        <nav class="navbar">
	            <div class="container">
	                <div id="navMenu" class="navbar-menu">
	                    <div class="navbar-start">
	                    	<a class="navbar-item" th:href="@{home}">
      							<img th:src="@{/images/bet-games-title.png}" id="bet-games-title">
    						</a>
	                        <a class="navbar-item" id="active-item" th:href="@{documentation}">
	                            Documentation
	                        </a>
	                    </div>
	                    <div class="navbar-end">
	                        <div class="navbar-item">
	                            <div class="buttons">
	                                <a class="button is-dark" id="byebye" onclick="window.open('https://github.com/Loriris/Bet-Games.git')">Github</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </nav>
            <div class="hero-body">
            <article class="message is-info">
				  <div class="message-header">
				    What is Bet-Games?
				  </div>
				  <div class="message-body">
				  	<div class="message-div">
				   		<p>This is the name of our project consisting in creating a bot on the famous Discord chat software. Indeed, focused on video games, this software offers us the opportunity to develop multiple services in this field.</p>
				   	</div>
				   	<div class="message-div center-img">
				   		<img th:src="@{/images/ampoule.png}" id="ampoule">
				   	</div>
				   	<div class="message-div">
				   		<p>Following this, we came up with the idea of taking advantage of the boom in online betting and the leader in competitive games, League of Legends. A lot of players take to the battlefields to compete and prove that they deserve their place on the podium, so why not spice things up?</p>
				   	</div>
				   	<div class="message-div center-img">
				   		<img th:src="@{/images/bank.png}" id="bank">
				   	</div>
					<div class="message-div">
				   		<p>What if we told you that you could make money from your favorite professional gambling teams? Bet, Analyze and Play using our Discord bot that takes care of your bets! Come and see how our bot works so you can master it to perfection.</p>   
				   	</div>
				  </div>
				</article>
            </div>
        </section>
        <section class="hero is-dark is-fullheight-with-navbar">
            <div class="hero-body-two">
            	<h1 class="h1-title">OPERATION</h1>
            	<article class="article-hero-body-two middle">
            		<div class="div-in-article"> 
            			<img th:src="@{/images/discordillustr.jpg}" class="img-article">
            		</div>
            		<div class="div-in-article">
            			<p class="paragraph-article-body"><b><u>Step 1</u> :</b>  Add our bot to your favorite discord server by clicking on the button below, login to your account and select the server of your choice.</p>
            			<button class="button hero-button left" onclick="window.open('https://discord.com/oauth2/authorize?client_id=780382231411687445&permissions=0&scope=bot')"><img th:src="@{/images/discord-black-icon.png}" id="logo-discord"/>Add to Discord</button>
            		</div>
            		<div class="div-in-article">
            			<img th:src="@{/images/ajoutbot.png}" class="img-article">
            		</div>
            	</article>
            	<article class="article-hero-body-two">
            		<div class="div-in-article">
            			<p class="paragraph-article-body"><b><u>Step 2</u> :</b> Once your bot is operational, use your text room to communicate with the bot. The prefix to use is "#" followed by the name of the desired command.</p>
            		</div>
            		<div class="div-in-article">
            			<img th:src="@{/images/infoexemple.png}" class="img-article">
            		</div>
            	</article>
            <div/>
        </section>
		<section class="hero is-link is-fullheight-with-navbar">
            <div class="hero-body-two">
				<div class="notification is-primary" id="commandes-notif">
					<div class="container-div">
						<div class="div-in-notif-start">
							<img th:src="@{/images/warning.png}" class="warning">
						</div>
						<div class="div-in-notif-center">
							<h1 class="h1-title" id="commandes">#COMMANDS</h1>
						</div>
						<div class="div-in-notif-end">
							<img th:src="@{/images/warning.png}" class="warning">
						</div>
					</div>
					<div>
						<table class="table">
							<thead>
							    <tr>
							       <th>Names</th>
								   <th>Description</th>
								</tr>
							</thead>
							<tbody>
							    <tr>
							      <th>#info</th>
							      <td>To have a reminder of the list of available commands directly on the text room</td>
							    </tr>
							    <tr>
							      <th>#connection</th>
							      <td>To connect to a game</td>
							    </tr>
							    <tr>
							      <th>#games</th>
							      <td>To know the available games</td>
							    </tr>
							    <tr>
							      <th>#teams</th>
							      <td>To know the available teams</td>
							    </tr>
							   	<tr>
							      <th>#odds</th>
							      <td>To know the odd</td>
							    </tr>
							    <tr>
							      <th>#bet</th>
							      <td>To make a bet</td>
							    </tr>
							    <tr>
							      <th>#mybets</th>
							      <td>To know the current bets</td>
							    </tr>
							    <tr>
							      <th>#leaderboard</th>
							      <td>To know the leaderboard</td>
							    </tr>
							    <tr>
							      <th>#wallet</th>
							      <td>To know your wallet :</td>
							    </tr>
							   	<tr>
							      <th>Servers list</th>
							      <td>"BR1", "EUN1", "EUW1", "LA1", "LA2", "NA1", "OCE", "OC1", "RU1", "TR1", "JP1", "KR", "PBE"</td>
							    </tr>
							</tbody>
						</table>
					</div>
				</div>
            </div>
        </section> 
        <section class="hero is-dark is-fullheight-with-navbar">
            <div class="hero-body-two">
				<article class="article-hero-body-two middle">
				   	<div class="div-in-article border">
            			<p class="paragraph-article-body cmd"><b>#connection</b>  </p>
            			<p class="paragraph-article-body cmd-explication"> [player's_nickname_that_you're_watching (writen in one word <i class="fas fa-exclamation-triangle"></i>)] [region]</p>
            		</div>
            		<div class="div-in-article">
            			<p class="paragraph-article-body"><b><u>Step 3</u> :</b> You are now ready to bet! To connect to the game of the player of your choice, perform the
            			<b>#connection</b> command without forgetting the region (see the available list).</p>
            			<p class="paragraph-article-body"> To help you find a game, you can use the website <a id="porofessor" onclick="window.open('https://porofessor.gg/fr/')"><u>Porofessor.gg</u></a> .</p>
            		</div>
            		<div class="div-in-article"> 
            			<img th:src="@{/images/connexion.png}" class="img-article">
            		</div>
            	</article>
            	<article class="article-hero-body-two middle">
				   	<div class="div-in-article">
            			<img th:src="@{/images/games.png}" class="img-article">
            		</div>
            		<div class="div-in-article">
            			<p class="paragraph-article-body"><b><u>Step 4</u> :</b> You can from these two commands, know the ID of the game played (several games are available), 
            			the team name (<span id="blue">blue</span> or <span id="red">red</span>) and the composition.</p>
            		</div>
            		<div class="div-in-article border"> 
						<p class="paragraph-article-body cmd"><b>#games</b>  </p>
						<p class="paragraph-article-body cmd"><b>#teams</b>  </p>
            			<p class="paragraph-article-body cmd-explication">[game ID]</p>
            		</div>
            	</article>
            <div/>
        </section>
        <section class="hero is-link is-fullheight-with-navbar">
            <div class="hero-body-two">
				<article class="article-hero-body-two middle">
				   	<div class="div-in-article border">
            			<p class="paragraph-article-body cmd"><b>#odds</b>  </p>
            			<p class="paragraph-article-body cmd-explication">[team color] [game ID]</p>
            			<p class="paragraph-article-body cmd"><b>#bet</b>  </p>
            			<p class="paragraph-article-body cmd-explication">[team color] [bet] [game ID]</p>
            		</div>
            		<div class="div-in-article">
            			<p class="paragraph-article-body"><b><u>Step 5</u> :</b> To know the odds of the team of your choice, use the #odds command and finally to bet #bet (on the example, we make a bet of 20 BGjetons on the blue team of the game n°3903749466).</p> 
            		</div>
            		<div class="div-in-article"> 
            			<img th:src="@{/images/paris.png}" class="img-article">
            		</div>
            	</article>
         		<article class="article-hero-body-two middle">
				   	<div class="div-in-article ">
						<img th:src="@{/images/notification.png}" class="img-article">
            		</div>
            		<div class="div-in-article">
            			<p class="paragraph-article-body paraf-mid"><i class="fas fa-fire-alt"></i> Congratulation !!! <i class="fas fa-fire-alt"></i> </p>
            			<p class="paragraph-article-body paraf-mid mini"><i class="fas fa-money-bill-wave"></i> You earn 36,4 BGjetons <i class="fas fa-money-bill-wave"></i></p> 
            		</div>
            		<div class="div-in-article"> 
            			<img th:src="@{/images/prive.png}" class="img-article">
            		</div>
            	</article>
            	<div class="buttons">
	                 <a class="button is-dark" id="hi" onclick="window.open('https://github.com/Loriris/Bet-Games.git')">Github</a>
	           	</div>   
            <div/>
        </section>
       <footer class="footer">
            <div class="content has-text-centered">
            	<div class="footer-mid">
	                <p>
	                    <strong>&copy;2021 Bet-Games</strong> by <i>Thomas SCHMID</i>, <i>Alexis RAFÉ</i>, <i>Ines BEN-SLAMA</i> and <i>Loris MARTINEZ</i>.
	                </p>
            	</div>
            	<div class="footer-right">
	                <div class="dropdown">
					  <div class="dropdown-trigger">
					    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
					      <span><img th:src="@{/images/english.png}" id="english"> English</span>
					      <span class="icon is-small">
					        <i class="fas fa-angle-down" aria-hidden="true"></i>
					      </span>
					    </button>
					  </div>
					  <div class="dropdown-menu" id="dropdown-menu" role="menu">
					    <div class="dropdown-content">
					      <a th:href="@{/documentation}" class="dropdown-item">
					        <img th:src="@{/images/france.png}" id="france"> Français
					      </a>
					    </div>
					  </div>
					</div>
            	</div>
            </div>
        </footer>
    </body>
    <script type="text/javascript">
 		var dropdown = document.querySelector('.dropdown');
		dropdown.addEventListener('click', function(event) {
		  event.stopPropagation();
		  dropdown.classList.toggle('is-active');
		});
	</script>
</html>